POSTGRES_PASSWORD=replace_with_a_long_random_password
APP_DB_PASSWORD=replace_with_another_long_random_password
DATA_ENCRYPTION_KEY=generate_with_python_fernet_generate_key
ADMIN_LOGIN=Admin
ADMIN_PASSWORD=replace_with_a_different_long_random_password
